services:
  unitask:
    build: .
    image: unitask:latest
    restart: unless-stopped
    user: "1003:1003"
    container_name: unitask-app
    env_file:
      - .env
    expose:
      - "9000"
    networks:
      - main-network

    volumes:
      - ./storage:/var/www/unitask/storage
      - ./bootstrap/cache:/var/www/unitask/bootstrap/cache
      - ./database:/var/www/unitask/database

networks:
  main-network:
    external: true