services:
  unitask:
    build: .
    restart: unless-stopped
    container_name: unitask-app
    env_file:
      - .env
    expose:
      - "9000"
    networks:
      - main-network

    volumes:
      - storage:/var/www/storage
      - cache:/var/www/bootstrap/cache

      - sqlite:/var/www/database

networks:
  main-network:
    external: true

volumes:
  storage:
  cache:
  sqlite: